[Desktop Entry]
Categories=Application;Network;
Comment=Deepin Remote Assistance
Encoding=UTF-8
Exec=/usr/bin/deepin-remote-assistance
Icon=deepin-remote-assistance
Name=Remote Assistance
StartupNotify=false
Terminal=false
Type=Application
X-MultipleArgs=false

# Translations
Comment[zh_CN]=Deepin远程协助
Name[zh_CN]=远程协助

X-Deepin-CreatedBy=Launcher
X-Deepin-AppID=deepin-remote-assistance
