Source: deepin-remote-assistance
Section: misc
Priority: extra
Maintainer: Deepin Sysdev <sysdev@deepin.com>
Standards-Version: 3.9.4
Build-Depends: debhelper (>= 9), pkg-config,
 dh-python, python3-all, qt5-qmake, qt5-default, qtbase5-dev, libdtkbase-dev, libdtkutil-dev, libdtkwidget-dev,
 libqt5svg5-dev, libqt5x11extras5-dev, libqt5widgets5, libqt5dbus5, libxext-dev, qttools5-dev-tools, libdui-dev,
Homepage: http://www.deepin.com/

Package: deepin-remote-assistance
Section: misc
Architecture: any
Depends: ${misc:Depends},
         ${python3:Depends},
         dra-chromium,
         liboxideqt-qmlplugin,
         python3-dbus,
         python3-pyqt5,
         python3-pyqt5.qtquick,
         python3-pyuserinput,
         python3-tornado,
         python3-xlib,
         qml-module-qtquick-controls,
         qml-module-qtquick-dialogs,
Description: Deepin Remote Assistance
